{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 2, {"SwitchCase": 1}],
        "arrow-body-style": 0,
        "eol-last": 0,
        "max-len": [2, 150, 2, {"ignoreComments": true, "ignoreUrls": true}],
        "react/jsx-no-bind": 0,
        "react/prefer-stateless-function": 0,
        "camelcase": 0
    }
}
