//whirl base variables
$height: 30px;
$width: 30px;
$border-width: 4px;
$overlay-color: #999;
$base-color: #555;

/* whirl base styling */
.whirl {
  position: relative;
}
.whirl:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: $overlay-color;
  opacity: 0.6;
}
.whirl:after {
  z-index: 2;
  content: "";
  height: $height;
  width: $width;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: (-$width / 2) 0 0 (-$width / 2);
  transition: all .75s ease 0s;
  border-radius: 100%;
  border-top: $border-width solid $base-color;
  animation: standard .75s infinite linear;
}
.whirl.no-overlay:before {
  content: none;
  display: none;
}

/* whirl standard rotation animation used for duo, double-up etc. */
@keyframes standard {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import 'themes/double-up.scss';
@import 'themes/traditional.scss';
